@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.body {
  display: flex;
  font-family: sans-serif;
}
.body .leftPart,
.body .rightPart {
  width: 50%;
}
.leftPart h1 span {
  color: #1c2860;
  font-size: 60px;
  font-weight: 800;
  padding: 0;
  margin: 0;
}
.leftPart h1 {
  color: #ec3237;
  font-size: 38px;
  font-weight: 800;
}
.rightPart h1 span {
  color: #8c1a23;
  font-size: 60px;
  font-weight: 800;
  padding: 0;
  margin: 0;
}
.rightPart h1 {
  color: #000;
  font-size: 38px;
  font-weight: 800;
}
.rightPart {
  background-color: #fff2b7;
  padding: 5vw 5vw 3vw 2vw;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.leftPart {
  background-color: #f8f8f8;
  padding: 5vw 2vw 3vw 5vw;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.leftPart hr {
  border: 1px solid #282828;
}
.rightPart hr {
  border: 1px solid #282828;
}
/* .blueBox .profileHead{
  display: flex;
  flex-direction: column;
} */
.profileHead .head {
  display: flex;
  width: 40vw;
  margin-bottom: 20px;
  /* background-color: #282828; */
  justify-content: space-between;
}
.profileHead .head .lHead {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.head .rHead img {
  width: 160px;
  height: 200px;
  object-fit: cover;
}
.head {
  font-family: "Poppins", sans-serif;
}
.leftPart .head .lHead h3 {
  font-weight: 500;
  background-color: #14d4e6;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 6px 8px 12px;
}
.leftPart .head .lHead p {
  background-color: #e1f4f7;
  padding: 16px 6px 20px 12px;
  font-size: 16px;
}
.leftPart .head .rHead img {
  border: 2px solid #14d4e6;
}

.rightPart .head .lHead h3 {
  font-weight: 500;
  background-color: red;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 6px 8px 12px;
}
.rightPart .head .lHead p {
  background-color: #ffffff;
  padding: 16px 6px 20px 12px;
  font-size: 16px;
}
.rightPart .head .rHead img {
  border: 2px solid rgb(255, 62, 62);
}
.rightPart .thirdblueBox {
  margin-bottom: 88px;
}

.blueBox {
  margin-bottom: 40px;
}
/* .TopHeader{
  padding-top: 20px;
  } */
@media only screen and (max-width: 768px) {
  .body {
    flex-direction: column;
  }
  .body .leftPart,
  .body .rightPart {
    width: 100%;
    padding: 40px 20px;
  }
  .leftPart h1 span,
  .rightPart h1 span {
    font-size: 42px;
  }
  .leftPart h1,
  .rightPart h1 {
    font-size: 28px;
  }
  .rightPart .thirdblueBox {
    margin-bottom: 40px;
  }
  .profileHead .head {
    width: 100%;
  }
}
